@use "../utils/variables" as *;
@use "../utils/mixins";

/* -- FORMULAIRES -- */

.theme-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input,
  &__textarea {
    margin: 0 0 1rem 0;
  }
}

@include mixins.tablet {
  /* -- FORM -- */
  .theme-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 566px;
    margin: auto;
  }
}
